@model HotelWebApp.Data.Entities.Room

@{
    ViewData["Title"] = "Room Details";
}

<h1>Room Details</h1>

<div>
    <h4>Room: @Model.RoomNumber</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PricePerNight)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PricePerNight)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>