@model IEnumerable<HotelWebApp.Data.Entities.ApplicationUser>

@{
    ViewData["Title"] = "User Management";
}

<h1>User Management</h1>

<p>
    <a asp-action="CreateEmployee" class="btn btn-primary">Create New Employee</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>User Name (Email)</th>
            <th>Email Confirmed</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => user.FullName)</td>
                <td>@Html.DisplayFor(modelItem => user.UserName)</td>
                <td>@Html.DisplayFor(modelItem => user.EmailConfirmed)</td>
                <td>
                    @* Links para Edit/Details/Delete a serem implementados *@
                    <a asp-action="Edit" asp-route-id="@user.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@user.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
